
<html>
    <head>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Wypozyczalnia @ViewData["Title"]</title>
    </head>
    <body>
        <header class="menu-bar">
            @(await Component.InvokeAsync("Menu"))
        </header>
        <main class="main-page">
        @RenderBody()
        <table>
            <tr>
                @foreach (var film in Model)

                {
                    <td>
                        <img src="~/content/@film.PosterName" height="200px" />
                    </td>
                }


            </tr>
        </table>
        
        </main>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 UKW, Inc</p>
            
        <a href="@Url.Action("AddFilm", "Films") class=" ="btn btn-dark>Dodaj film</a>

        <ul class="nav col-md-5 justify-content-end">
            <li class="nav-item">
                <a href="@Url.Action("StronyStatyczne","Home", new {nazwa="Onas"})" class="nav-link px-2 text-muted">O nas</a></li>
            <li class="nav-item">
                <a href="@Url.Action("StronyStatyczne","Home", new {nazwa="Regulamin"})" class="nav-link px-2 text-muted">Regulamin</a></li>
            <li class="nav-item">
                <a href="@Url.Action("StronyStatyczne","Home", new {nazwa="MetodyPlatnosci"})" class="nav-link px-2 text-muted">Metody płatności</a></li>
            <li class="nav-item">
                <a href="@Url.Action("StronyStatyczne","Home", new {nazwa="Kontakt"})" class="nav-link px-2 text-muted">Kontakt</a></li>
        </ul>
        </footer>
    </body>
</html>
