@model KolpackiRWypozyczalnia.Models.Film

<div>
    <table>
        <tr>
            <td>
                <h1>@Model.Category.Name</h1>
                @await Component.InvokeAsync("CategoryMenu", new {categoryName = Model.Category.Name})
            </td>
            <td>
                <img src="~/content/@Model.PosterName" height="300px" alt="Plakat filmu" />
            </td>
            <td>
                <ul>
                    <li>Tytuł: @Model.Title</li>
                    <li>Reżyser: @Model.Director</li>
                    <li>Opis: @Model.Desc</li>
                    <li>Cena: @Model.Price</li>
                    <li>Data dodania: @Model.PublishDate</li>
                </ul>
            </td>
        </tr>
    </table>

</div>
