@model KolpackiRWypozyczalnia.Models.Film

<div>
    <table>
        <tr>
            <td>
                <h1>@Model.Category.Name</h1>
                @await Component.InvokeAsync("CategoryMenu", new {categoryName = Model.Category.Name})
            </td>
            <td>
                <img src="~/content/@Model.PosterName" height="300px" alt="Plakat filmu" />
            </td>
            <td>
                @using (Html.BeginForm("EditFilm", "Films"))
                {
                    @Html.HiddenFor(f=>f.PosterName)
                    @Html.HiddenFor(f=>f.CategoryId)
                    @Html.HiddenFor(f=>f.PublishDate)
                }
                <ul>
                    <li>Tytuł: 
                        @Html.TextBoxFor(f=>f.Title, new {@class = "form-control"})
                    </li>
                    <li>Reżyser: 
                        @Html.TextBoxFor(f=>f.Director, new {@class = "form-control"})
                    </li>
                    <li>Opis: 
                        @Html.TextBoxFor(f=>f.Desc, new {@class = "form-control"})
                    </li>
                    <li>Cena: 
                        @Html.TextBoxFor(f=>f.Price, new {@class = "form-control"})
                    </li>
                    
                </ul>
                <button type="Submit" class="btn btn-primary">Zapisz zmiany</button>
            </td>
        </tr>
    </table>

</div>
