@model KolpackiRWypozyczalnia.ViewModels.CategoryFilmsViewModel
@{
    ViewData["Title"] = Model.Category.Name;
}
<link href="~/lib/bootstrao/dist/css/bootstrap.min.css"
rel="stylesheet"/>

<table>
    <tr>
        @foreach (var film in Model.RecentFilms)

        {
            <td>
                <h2>@film.Title</h2>
                <p>film.Desc</p>
            </td>
        }


    </tr>
</table>



<h1>@Model.Category.Name </h1>
<table class="table">
    <thead>
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model.CategoryFilms)
        {
            <tr>
                <td> @film.Title </td>
                <td> @film.Director </td>
                <td> @film.Desc </td>
                <td> @film.Price </td>
                <td>
                    <a href="@Url.Action("Details","Films", new {FilmId = film.Id})">&#128269</a>
                </td>
            </tr>
        }
    </tbody>

</table>