@model IEnumerable<KolpackiRWypozyczalnia.Models.Film>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Cena</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.Desc</td>
                <td>@film.Price</td>
                <td>
                    <a href="@Url.Action("Details", "Films", new { filmId = film.Id })">&#129440;</a>
                </td>
            </tr>
        }
    </tbody>
</table>